/*# sourceMappingURL=responsive.css.map */
/* ==================================================
  Responsive Styling
  ================================================== */
@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0; }

  p {
    margin: 0; }

  h1 {
    font-size: 32px;
    margin: 0; }

  h2 {
    font-size: 24px; }

  h2 {
    margin-bottom: 25px; }

  h3 {
    font-size: 14px; } }
@media (min-width: 1400px) {
  /* banner */
  header .ic-banner .carousel-inner .carousel-item .carousel-caption {
    top: 120px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img {
      display: block; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-logo {
      margin-bottom: 20px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption p {
      margin-top: 43px;
      margin-bottom: 45px; }
  header .ic-banner a span {
    font-size: 48px;
    width: 60px;
    height: 60px;
    padding-top: 4px; }
  header .ic-banner a.carousel-control-prev span {
    padding-right: 5px; }
  header .ic-banner a.carousel-control-next span {
    padding-left: 5px; }

  /* navbar start */
  /* navbar css */
  .navbar.ic-navbar button.navbar-toggler i.fa-bars {
    padding: 5px;
    display: inline-block;
    padding: 6px 8px;
    border-radius: 3px; }
  .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item {
    padding: 28px 25px; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.dropdown-toggle i {
      margin-left: 5px; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
      padding: 0;
      margin-top: -0.01px; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item {
        padding: 28px 25px; }

  /* footer start */
  footer .top-bar {
    padding-bottom: 36px; }
    footer .top-bar .ic-scientific {
      padding-top: 155px;
      padding-bottom: 80px; }
      footer .top-bar .ic-scientific h2 {
        font-size: 30px; }
      footer .top-bar .ic-scientific ul li img {
        width: 100px;
        height: auto; }
      footer .top-bar .ic-scientific ul li:first-child {
        margin-right: 65px; }
        footer .top-bar .ic-scientific ul li:first-child img {
          width: 50px; }
    footer .top-bar .addres-bar {
      padding-right: 40px;
      padding-left: 40px; }
      footer .top-bar .addres-bar img {
        width: 110px;
        height: 110px; }
      footer .top-bar .addres-bar .ic-text-top-footer {
        top: 12px;
        padding-bottom: 20px; }
      footer .top-bar .addres-bar .p-semibold {
        font-weight: 500;
        font-size: 23px; }
      footer .top-bar .addres-bar p {
        font-weight: 500;
        font-size: 18px; }
  footer .bottom-bar {
    padding-top: 30px;
    padding-bottom: 30px; }

  /* mid content css */
  .ic-mid-content {
    padding-top: 40px !important; }
    .ic-mid-content .ic-banner-content {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 40px;
      padding-bottom: 80px; }
    .ic-mid-content ul {
      margin-bottom: 35px; }
    .ic-mid-content .text-content h3 {
      margin-bottom: 50px; }
    .ic-mid-content .text-content p {
      font-size: 18px;
      margin-bottom: 45px; }
      .ic-mid-content .text-content p:last-child {
        margin-bottom: 0; }
    .ic-mid-content .text-content p.ic-italic-p {
      margin-bottom: 40px; }

  /* registration complete */
  #reg-form .ic-full-content p.ic-reg-box {
    padding: 23px 40px;
    margin-bottom: 40px; }
  #reg-form .ic-full-content table tr td {
    padding-bottom: 45px; }
    #reg-form .ic-full-content table tr td:first-child {
      padding-right: 65px; }
    #reg-form .ic-full-content table tr td:nth-child(2) {
      padding-right: 30px; }
  #reg-form .ic-full-content .ic-reg-home-link {
    font-size: 24px;
    margin-top: 45px; }
    #reg-form .ic-full-content .ic-reg-home-link i {
      margin-right: 18px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  header .ic-banner .carousel-inner .carousel-item .carousel-caption {
    top: 20px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-logo {
      margin-bottom: 8px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption p {
      margin-top: 12px;
      margin-bottom: 16px; }

  .navbar.ic-navbar button.navbar-toggler i.fa-bars {
    padding: 5px;
    padding: 6px 8px; }
  .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item {
    padding: 10px 2px; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
      font-size: 12px; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.dropdown-toggle i {
      margin-left: 5px; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
      padding: 0;
      margin-top: -0.01px;
      border: none; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item {
        font-size: 12px;
        padding: 14px 13px; } }
@media (max-width: 1400px) {
  /* footer start */
  footer .top-bar .ic-scientific ul li img {
    width: 100px;
    height: auto; }
  footer .top-bar .ic-scientific ul li:first-child {
    margin-right: 65px; }
    footer .top-bar .ic-scientific ul li:first-child img {
      width: 50px; }
  footer .top-bar .addres-bar img {
    width: 110px;
    height: 110px; }
  footer .top-bar .addres-bar .ic-text-top-footer {
    padding-left: 28px;
    padding-right: 28px; } }
@media (max-width: 991px) {
  header .ic-banner .carousel-inner img.banner-img {
    height: 275px !important; }
  header .ic-banner .carousel-inner .carousel-item .carousel-caption {
    text-align: left;
    top: 10px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-logo {
      margin-bottom: 8px;
      width: 100px;
      height: auto; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption p {
      margin-top: 8px;
      margin-bottom: 10px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-cardiac-logo {
      width: 230px;
      height: auto; } }
@media (max-width: 767px) {
  header .ic-banner .carousel-inner img.banner-img {
    height: 275px !important; }
  header .ic-banner .carousel-inner img.img-fluid.banner-img {
    height: 275px !important; }
  header .ic-banner .carousel-inner .carousel-item .carousel-caption {
    text-align: left;
    top: 10px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-logo {
      margin-bottom: 8px;
      width: 100px;
      height: auto; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption p {
      margin-top: 8px;
      margin-bottom: 10px; }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-cardiac-logo {
      width: 230px;
      height: auto; }
  header .ic-banner a {
    opacity: 1; }
    header .ic-banner a span {
      font-size: 30px;
      width: 40px;
      height: 40px;
      padding-top: 3px;
      transition: 0; }
  header .ic-banner a.carousel-control-prev span {
    padding-right: 3px; }
  header .ic-banner a.carousel-control-next span {
    padding-left: 3px; } }
@media (max-width: 575px) {
  img.img-fluid.banner-img {
    height: 275px !important; } }

/*# sourceMappingURL=responsive.css.map */
